* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*::selection {
    background-color: #00c9b1;
}
.intro {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img {
    width:100%;
}
header {
    width: 74%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #626262;
}
.intro header h1 {
    font-size: 30px;
    padding-top: 24px;
    cursor: pointer;
}
.intro header span {
    color: #00c9b1
}
ul {
    display: flex;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 24px;
    list-style-type: none;
}
ul li {
    color: #232323;
    padding: 15px;
    cursor: pointer;
}
ul li:hover {
    color: #00c9b1;
    transition:all 0.5s;
}
ul li:first-child {
    color: #00c9b1;
}
main {
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 590px;
    justify-content: center;
    position: absolute;
}
.intro main p:first-child {
    font-size: 14px;
    color: #232323;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
}
.intro main p:first-child:hover {
    border-bottom: 2px solid grey;
    transition: all 0.3s;
}
.intro main h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: #232323;
    border-bottom: 1px solid rgba(128, 128, 128, 0)
}

.intro main h1:hover {
    border-bottom: 2px solid grey;
    transition: all 0.3s;
}
.intro main h1 span {
    color: #00c9b1;
    border-bottom: 1px solid rgba(128, 128, 128, 0)
}
.intro main h1 span:hover {
    border-bottom: 2px solid #00c9b1;
    transition: all 0.3s;
}
.intro main p:nth-child(3) {
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    border-bottom: 1px solid transparent;
}
.intro main p:nth-child(3):hover {
    border-bottom: 2px solid #666666;
    transition: all 0.3s;
}
.intro main section {
    display: flex;
    width: 22%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.intro main section:last-child p {
    font-family: 'Dosis', sans-serif;
    z-index: 1;
    position: relative;
    font-size: 14px;
    color: white;
    border: 1px solid #00c9b1;
    background-color: #00c9b1;
    padding: 10px 20px;
    border-radius: 2px;
    transition: all 0.4s;
}
.intro main section:last-child p:first-child::before {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    content: "";
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.intro main section:last-child p:last-child::before {
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    content: "";
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.intro main section:last-child p:hover  {
    color: #00c9b1;
    border: 1px  solid #00c9b1;
}
.intro main section:last-child p:first-child:hover::before {
    opacity: 1;
    width: 100%
}
.intro main section:last-child p:last-child:hover::before {
    opacity: 1;
    height: 100%;
}
.intro footer {
    width: 74%;
    display: flex;
    justify-content: center;
}
.intro footer div {
    width: 30px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #00c9b1;
    position: absolute;
    bottom: 10px;
}
.intro footer div div {
    border: 2px solid #00c9b1;
    border-radius:100%;
    width: 10px;
    height: 10px;
    background-color: #00c9b1;
    margin-left: 8px;
    margin-top: 4px;
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration:1.8s;
    animation-timing-function: ease-in-out;
}
@keyframes circle {
    0% {transform:translate(0px,-30px) }
    50% {transform: translate(0px,0px)}
    100% {transform: translate(0px,-30px)}
}
div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 74%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.container h1 {
   letter-spacing: 1px;
   margin-top: 80px;
   color: #2e2e2e
}
.container .line {
    width: 10%;
    padding-top: 20px;
    display: flex;
    position: relative;
}
.line span {
    border-top: 2px solid #00c9b1;
}
.line div {
    width: 6px;
    height: 6px;
    position: absolute;
    transform:rotate(45deg);
    left: 3.660625em;
    bottom: 5px;
}
.line div i {
    color: #00c9b1;

}
.container .rect {
    padding-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container .rect section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border:  0.00625em  solid #626262;
    padding: 40px 60px;
    position: relative;
    box-shadow: 0.00625em 0.00625em 10px #666666;
    transition: all 0.3s;
}
.rect h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #232323;
     padding-top: 10px;
}
.rect p {
    font-size: 13px;    
}
.container .rect section:hover {
    box-shadow: 1px 1px 30px #666666;
    transition: all 0.3s;
    transform: scale(1.01,1.01)
}
.container .icon {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top:-25px;
}
.container .rect section:hover .icon{
    background-color: #00c9b1;
    transition: all 0.3s;
}
.icon i {
    color: white;
    margin: auto;
    font-size: 20px;
}
div:nth-child(3) {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
}
div:nth-child(3) .container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
div .about {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.about h3,p {
    font-family: 'Open Sans', sans-serif; 
}
.about h3 {
    font-size: 30px;
    color: #2e2e2e;
    letter-spacing: 1px;
}
.about p {
    font-size: 14px;
    margin-top: 15px;
}
.about section:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.about section:nth-child(2) .singleBlock {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
}
.singleBlock div {
    width: 45px;
    height: 45px;
    background-color: #00c9b1;
    margin-right: 10px;
    border-radius: 1px;
}
.singleBlock i {
    margin: auto;
    font-size: 25px;
    color: white;
}
.singleBlock p {
    letter-spacing: 1px;    
}
.about section:nth-child(3) {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.about section:nth-child(3) div {
    width: 40px;
    height: 40px;
    border: 2px solid #232323;
    border-radius: 1px;
    transition: all 0.4s;
    cursor: pointer;
}
.about section:nth-child(3) div i {
    margin: auto;
    font-size: 15px;
    color: #232323;
}
.about section:nth-child(3) div:hover {
    border: none;
    background-color: #00c9b1;
}
.about section:last-child {
    width: 30%;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
}
.about section:last-child p {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    border: 1px solid #00c9b1;
    border-radius: 2px;
    background-color: #00c9b1;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.4s;
    overflow: hidden;
}
.about section:last-child p::before {
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    content: "";
    transition: all 0.4s ease-in-out;
}
.about section:last-child p:hover {
    color:#00c9b1; 
    border: 1px solid #00c9b1;
}
.about section:last-child p:hover::before {
    width: 100%;
    opacity: 1;
}
/* .about Ends */
.range {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.range section:first-child h3 {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    color: #2e2e2e;
}
.range section:first-child p {
    font-size: 14px;
    margin-top: 15px;
}