* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*::selection {
    background-color: #00c9b1;
}
.intro {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img {
    width:100%;
}
header {
    width: 74%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #626262;
}
.intro header h1 {
    font-size: 30px;
    padding-top: 24px;
    cursor: pointer;
}
.intro header span {
    color: #00c9b1
}
ul {
    display: flex;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 24px;
    list-style-type: none;
}
ul li {
    color: #232323;
    padding: 15px;
    cursor: pointer;
}
ul li:hover {
    color: #00c9b1;
    transition:all 0.5s;
}
ul li:first-child {
    color: #00c9b1;
}
main {
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 590px;
    justify-content: center;
    position: absolute;
}
.intro main p:first-child {
    font-size: 14px;
    color: #232323;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
}
.intro main p:first-child:hover {
    border-bottom: 2px solid grey;
    transition: all 0.3s;
}
.intro main h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: #232323;
    border-bottom: 1px solid rgba(128, 128, 128, 0)
}

.intro main h1:hover {
    border-bottom: 2px solid grey;
    transition: all 0.3s;
}
.intro main h1 span {
    color: #00c9b1;
    border-bottom: 1px solid rgba(128, 128, 128, 0)
}
.intro main h1 span:hover {
    border-bottom: 2px solid #00c9b1;
    transition: all 0.3s;
}
.intro main p:nth-child(3) {
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    border-bottom: 1px solid transparent;
}
.intro main p:nth-child(3):hover {
    border-bottom: 2px solid #666666;
    transition: all 0.3s;
}
.intro main section {
    display: flex;
    width: 22%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.intro main section .slider {
    font-family: 'Dosis', sans-serif;
    z-index: 1;
    position: relative;
    font-size: 14px;
    color: white;
    border: 1px solid #00c9b1;
    background-color: #00c9b1;
    padding: 10px 20px;
    border-radius: 2px;
    transition: all 0.4s;
}
.intro main section:last-child p:first-child::before {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    content: "";
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.intro main section:last-child p:last-child::before {
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    content: "";
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.intro main section:last-child p:hover  {
    color: #00c9b1;
    border: 1px  solid #00c9b1;
}
.intro main section:last-child p:first-child:hover::before {
    opacity: 1;
    width: 100%
}
.intro main section:last-child p:last-child:hover::before {
    opacity: 1;
    height: 100%;
}
.intro footer {
    width: 74%;
    display: flex;
    justify-content: center;
}
.intro footer div {
    width: 30px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #00c9b1;
    position: absolute;
    bottom: 10px;
}
.intro footer div div {
    border: 2px solid #00c9b1;
    border-radius:100%;
    width: 10px;
    height: 10px;
    background-color: #00c9b1;
    margin-left: 8px;
    margin-top: 4px;
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration:1.8s;
    animation-timing-function: ease-in-out;
}
@keyframes circle {
    0% {transform:translate(0px,-30px) }
    50% {transform: translate(0px,0px)}
    100% {transform: translate(0px,-30px)}
}
div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 74%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.container h1 {
   letter-spacing: 1px;
   margin-top: 80px;
   color: #2e2e2e
}
.container p:first-child,.container p:nth-child(2) {
    line-height: 35px;
}
.container .line {
    width: 10%;
    padding-top: 20px;
    display: flex;
    position: relative;
}
.line span {
    border-top: 2px solid #00c9b1;
}
.line div {
    width: 6px;
    height: 6px;
    position: absolute;
    transform:rotate(45deg);
    left: 3.660625em;
    bottom: 5px;
}
.line div i {
    color: #00c9b1;

}
.container .rect {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container .rect section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 40px 60px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}
.rect h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #232323;
    padding-top: 10px;
}
.rect p {
    font-size: 13px;    
}
.container .rect section:hover {
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    transform: scale(1.01,1.01)
}
.container .icon {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top:-25px;
}
.container .rect section:hover .icon{
    background-color: #00c9b1;
    transition: all 0.3s;
}
.icon i {
    color: white;
    margin: auto;
    font-size: 20px;
}
.grey {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
}
div:nth-child(3) .container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}
div .about {
    display: flex;
    flex-direction: column;
}
.about h3,p {
    font-family: 'Open Sans', sans-serif; 
}
.about h3 {
    font-size: 30px;
    color: #2e2e2e;
    letter-spacing: 1px;
}
.about p {
    font-size: 14px;
    margin-top: 15px;
}
.about section:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.about section:nth-child(2) .singleBlock {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
}
.singleBlock div {
    width: 45px;
    height: 45px;
    background-color: #00c9b1;
    margin-right: 10px;
    border-radius: 1px;
}
.singleBlock i {
    margin: auto;
    font-size: 25px;
    color: white;
}
.singleBlock p {
    letter-spacing: 1px;    
}
.about section:nth-child(3) {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.about section:nth-child(3) div {
    width: 40px;
    height: 40px;
    border: 2px solid #232323;
    border-radius: 1px;
    transition: all 0.4s;
    cursor: pointer;
}
.about section:nth-child(3) div i {
    margin: auto;
    font-size: 15px;
    color: #232323;
}
.about section:nth-child(3) div:hover {
    border: none;
    background-color: #00c9b1;
}
.about section:last-child {
    width: 30%;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
}
.about section:last-child p {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    border: 1px solid #00c9b1;
    border-radius: 2px;
    background-color: #00c9b1;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.4s;
    overflow: hidden;
}
.about section:last-child p::before {
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    content: "";
    transition: all 0.4s ease-in-out;
}
.about section:last-child p:hover {
    color:#00c9b1; 
    border: 1px solid #00c9b1;
}
.about section:last-child p:hover::before {
    width: 100%;
    opacity: 1;
}
/* .about Ends */
.range {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.range section:first-child h3 {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    color: #2e2e2e;
}
.range section:first-child p {
    font-size: 14px;
    margin-top: 15px;
}
div:nth-child(4)  .rect {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}
div:nth-child(4)  .rect section {
    border: 0.02em solid #ebe8e8;
    width: 29%;
    box-shadow: 0.001em 0.001em 0.001em rgb(216, 201, 201);
}
div:nth-child(4) .rect i {
    color: #00c9b1;
    font-size: 35px;
}
div:nth-child(4)  .rect section:hover {
    transform: translate(0px, -15px) scale(1,1);
    box-shadow: 0.001em 0.001em 0.001em rgb(216, 201, 201);
}
/* Photos Start */
.grey{
    background-color: #f6f6f6
}
.grey .container nav ul {
    margin: 20px 0px 20px 0px;
}
.grey .container nav ul li {
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #dddddd;
    padding: 5px 30px;
    margin: 10px;
    font-size: 14px;
    z-index: 1;
    position: relative;
    transition: all 0.4s;
}
.grey .container nav ul li:first-child {
    color: white;
    border: 1px solid #00c9b1;
    background-color: #00c9b1;
}
.grey .container nav ul li:first-child i {
    position: absolute;
    transform: rotate(45deg);
    color: #00c9b1;
    left: 33px;
}
.grey .container nav ul li::before {
    z-index: -1;
    opacity: 0;;
    content: "";
    width: 50%;
    left: 0;
    top: 0;
    height: 0;
    position: absolute;
    background-color: #00c9b1;
    transition: all 0.4s;
}
.grey .container nav ul li::after {
    z-index: -1;
    opacity: 0;;
    content: "";
    right: 0;
    bottom: 0;
    width: 50%;
    height: 0;
    position: absolute;
    background-color: #00c9b1;
    transition: all 0.4s;
}
.grey .container nav ul li:hover::before {
    height: 100%;
    opacity: 1;
}
.grey .container nav ul li:hover::after {
    height: 100%;
    opacity: 1;
}
.grey .container nav ul li:hover {
    color: white;
}
.grey .container section:nth-child(6) { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.grey .container .photo {
    width: 33.3%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grey .container .photo:hover img {
    transform: scale(1.1,1.1);
}

.grey .container .photo .hover {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: absolute;
    background-color: hsla(173, 100%, 39%, 0.843);
    opacity: 0;
    transition:all 0.2s;
}
.grey .container .photo:hover .hover {
    opacity: 1;
}
.grey .container .photo img {
    width: 100%;
    transition: all 0.5s;
}
.hover section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15%;
    height: 24%;
    background-color: white;
}
.hover section i {
    color: #00c9b1;
}
.hover p:nth-child(2) {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: white;
    margin:5px auto;
    letter-spacing: 1px;
}
.hover p:last-child {
    font-size: 12px;
    font-style: italic;
    color: white;
}
.slider {
    font-family: 'Dosis', sans-serif;
    z-index: 1;
    letter-spacing: 2px;
    position: relative;
    font-size: 14px;
    color: white;
    border: 1px solid #00c9b1;
    background-color: #00c9b1;
    padding: 10px 20px;
    border-radius: 2px;
    transition: all 0.4s;
    margin-top: 30px;
    cursor: pointer;
}
.slider::before {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    content: "";
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.slider:hover {
    color: #00c9b1
}
.slider:hover::before {
    opacity: 1;
    width: 100%;
}
/* Grass Starts */
.grey .container section:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
}
.grey .container section:last-child .grass {
    width: 23%;
    height: 174px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grass img {
    width: 100%;
    height: 100%;
}
.grey .content {
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.843);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grey .content i {
    color: #00c9b1;
    font-size: 35px;
}
.grey .content p:nth-child(2) {
    font-size: 36px;
    color: #232323;
    margin: 6px auto;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.grey .content p:last-child {
    font-size: 16px;
    color: #232323;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}
/* .grey Ends */
/* People Starts */
 .members section {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.experts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experts .people {
    width: 93%;
    position: relative;
    height: 291px;
}
.people div {
    width: 0%;
    height: 0%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #212529ce;
    opacity: 0;
    transition:all 0.4s ease-in-out;
}
.people:hover .black {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.people section {
    width: 0%;
    height: 20%;
    left: 5%;
    top: 20%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.people:hover section {
    opacity: 1;
    width: 90%;
}
.people section div {
    width: 0px;
    position: unset;
    height: 0px;
    border: 1px solid white;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.people:hover section div {
    width: 20%;
    height: 80%;
    opacity: 1  ;
}
.people section div i {
    margin: auto;
    font-size: 15px;
    color: white;
}
.people section div:hover  {
    background-color: #00c9b1;
    border: none;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}
.people img {
    width: 100%;
    height: 100%;
}
.experts p:nth-child(2) {
    margin: 10px auto 5px auto;
    color: #2e2e2e;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}
.experts p:nth-child(3) {
    color: #00c9b1;
    font-style: italic;
    font-size: 14px;
}
.experts .line {
    width: 93%;
    padding-top: 8px;
}
.people::before {
    content: "";
    position: absolute;
    border-right: 40vh solid white;
    border-top: 60px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}
.people:hover::before {
    border-top: 0vh solid transparent;
}
/* .people Ends */
.grey:nth-last-of-type(2) .container section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.clients {
    margin: 20px auto 80px auto;
    width: 30%;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
    background-color: white;
}
.clients div {
    width: 96px;
    height: 96px;
    margin-bottom:20px; 
    border: 1px solid transparent;
}
.clients div img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}
.clients p {
    max-width: 85%;
    text-align: center;
}
.clients p:nth-child(2) {
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}
.clients p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #00c9b1;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}
.clients p:nth-child(4),.clients p:last-child {
    font-size: 12px;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 1px;
}
/* .clients Ends */
/* Logos Start */
.logo {
    height: 270px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo .container div {
    width: 21%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* Logos end */
/* License starts */
.grey:nth-child(9) .container h1 {
    letter-spacing: 4px;
}
.grey:nth-child(9) .container section {
    margin-top: 50px;
}
.license {
    display: flex;
    background-color: white;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 434px;
    transition:all 0.15s ease-in-out;
}
.license:nth-child(2) {
    background-color: #00c9b1;
}
.license ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.license ul li {
    color:#2D3E50;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    padding: 10px;
}
.license p:nth-child(1) {
    letter-spacing: 1px;
    font-weight: 700;
    color: #232425;
}
.license p:nth-child(2) {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #232425;
    font-family: 'Dosis', sans-serif;
}
.license i {
    color: #00c9b1;
}
.license:nth-child(2) p,.license:nth-child(2) ul li,.license:nth-child(2) small,.license:nth-child(2) i {
    color: white;
}
.license:nth-child(2) .slider {
    background-color: white;
    color: #00c9b1;
}
.license:hover {
    background-color: #00c9b1;
}
.license:hover p,.license:hover ul li,.license:hover small {
    color: white ;
    transition: all 0.15s ease-in-out;
}
.license:hover .slider {
    border: 1px solid white;
    transition: all 0.15s ease-in-out;
}
.license:hover span {
    transition-delay: 0.1s;
    transition: all 0.3s ease-in-out;
}
.license:hover ul li i {
    color: white;
    transition-delay: 0.1s;
    transition: all 0.3s ease-in-out;
}
.license .slider:hover {
    color: #00c9b1;
}
/* License Ends */
div:nth-child(10) .container h1 {
    letter-spacing: 2px;
}
div:nth-child(10) .container section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;
}
.post {
    width: 32%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}
.post:hover {
    transform: scale(1.01,1.01);
    box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.15);
}
.image {
    width: 100%;
    height: 250px;
}
.image img {
    width: 100%;
    height: 100%;
}
.post .content {
    width: 90%;
    height: 240px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px;
}
.content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #232323; 
}
.content ul {
    padding-top: 10px;
    display: flex;
    margin-bottom: 10px;
}
.content ul li {
    font-size: 14px;
    color: #232323;
    padding:0px 15px 0px 0px;;
}
.content ul li i {
    color: #00c9b1;
}
.content ul li:hover {
    transition: 0.5s;
    color: #00c9b1;
} 
.content p {
    line-height: 24px;
    font-size: 14px;
}
.content div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.content div p:first-child {
    cursor: pointer;
} 
.content div p:first-child span {
    color: #00c9b1;
}
.content div p:first-child:hover {
    transition: all 0.5s;
    color:#00c9b1;
}
.content div p:last-child {
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #888888;
    font-size: 12px;
    cursor: pointer;
}
.content div p:last-child:hover {
    color: #00c9b1;
    transition: all 0.5s;
}
.content div p:last-child span {
    position: relative;
}
.content div p:last-child span::before {
    border-bottom: 1px solid #00c9b1;
    width: 0%;
    position: absolute;
    height: 30px;
    content: "";
    transition: all 0.5s;
    opacity: 0;
}
.content div p:last-child:hover  span::before {
    opacity: 1;
    width: 100%;
}
/* Posts End */
/* Subscribe Starts */
div:nth-child(11) {
    position: relative;
    background-image:url("./swim.jpg");  
    background-attachment: fixed;
    z-index: 1;
    background-repeat: no-repeat;
}
div:nth-child(11)::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color:  rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    height: 276px;
    z-index: -1
}
div:nth-child(11) .container h2 {
    font-weight: 600;
    color: white;
    margin: 50px auto 30px;
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
}
.subscribe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribe input {
    height: 45px;
    width: 25.5%;
    border-radius: 2px 0px 0px 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border:none;
    text-indent: 10px;
    outline: none;
    color: white;
}
.subscribe input::placeholder {
    font-weight: 300;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Open-Sans', sans-serif;
}
.subscribe .slider {
    margin-top: 0px;
    height: 45px;
    padding: 3px 20px;
    border-radius: 0px 2px 2px 0px;
}
.icons {
    display: flex;
    flex-direction: row;
    margin: 20px  auto 50px;
    justify-content: space-between;
    width: 20%;
}
.icons div {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 1px;
    transition: all 0.4s;
    cursor: pointer;
    transition: all 0.3s;
}
.icons div i {
    margin: auto;
    font-size: 15px;
    color: white
}
.icons div:hover {
    background-color: #00c9b1;
    border: none;
}
/* Subscribe ends */
div:nth-child(12) .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: unset;
}
div:nth-child(12) .container section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:50px 0px 50px 0px;
}
.address {
    width: 33.3%;
}
.address h1,.question h1{
    font-size: 28px;
    color: #2e2e2e;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    margin:0px 0px 20px 0px;
}
.address i {
    color: #00c9b1;
    font-size: 25px;
    margin-bottom: 5px;
}
.address h2 {
    color: #2e2e2e;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.address .margin {
    margin-bottom: 20px;
}
.address a {
    transition: all 0.3s;
    font-weight: 400;
    color: #626262;
}
.address a:hover {
    color: #00c9b1;
}
/* Address ends */
.question {
    width: 66.6%;
}
div:nth-child(12) .container .question .input  {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.input input {
    width: 46%;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-indent: 10px;
    transition: all 0.5s;
}
.input input:focus {
    outline-color: #00c9b1;
}
.question textarea {
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 10px;
    height: 160px;
    border-radius: 5px;
    text-indent: 10px;
    transition: all 0.5s;
}
.question textarea:focus {
    outline-color: #00c9b1;
}
/* Question ends */
/* Main ends */
/* Footer starts */
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    position: relative;
}
footer::before {
    position: absolute;
    content: "";
    width:100%;
    border-bottom: 1px solid #dddddd;
}
footer .container p {
    color: #232323;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
}
footer .container p a {
    color: #00c9b1;
    text-decoration: none;
}
footer .container ul {
    margin-bottom: 24px;
}
footer .container ul li {
    color: #232323;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
footer .container ul li:hover {
    color:#00c9b1
}
footer .icons {
    margin: 24px 0px 24px 0px;
}
footer .icons div {
    border: 2px solid black;
}
footer .icons div i {
    color: black;
}